﻿@model Vouzamo.Blog.Models.Domain.QuoteSection

<blockquote>
    @Model.Quote
    @if (!string.IsNullOrWhiteSpace(Model.Author))
    {
        <small>
            @Model.Author
            @if (!string.IsNullOrWhiteSpace(Model.Source))
            {
                <cite title="Source">@Model.Source</cite>
            }
        </small>
    }
</blockquote>
