﻿@model IEnumerable<Vouzamo.Blog.Models.Domain.Section>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var postId = ViewBag.PostId;
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "CreateTextSection", new { id = postId })
</p>
<table class="table">
    <tr>
        <th>
            Order
        </th>
        <th>
            Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <td>
            @item.SectionType.ToString()
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
