﻿@using Vouzamo.Blog.Models.Domain

@model Vouzamo.Common.Interop.IManyPagedResponse<Post>

@{
    int i = 0;
}

@foreach (var post in Model.Response)
{
    i += 1;

    <div class="col-lg-3 col-md-4">
        <div class="thumbnail">
            @Html.Action("Image", "Component", new { id = post.ImageId })
            <div class="caption">
                <h3>@post.Title</h3>
                <p>@post.Summary</p>
                <p>
                    <a href="@Url.Action("Post", "Home", new { id = post.Id })" class="btn btn-primary" role="button">Read More</a>
                </p>
                <p class="post-meta">Posted by @Html.Action("Author", "Component", new { id = post.AuthorId }) on @post.PublishDate.Date.ToLongDateString()</p>
            </div>
        </div>
    </div>

    if (i % 4 == 0)
    {
        <div class="clearfix visible-lg"></div>
    }

    if (i % 3 == 0)
    {
        <div class="clearfix visible-md"></div>
    }
}

<div class="col-md-12">
    @Html.Partial("~/Views/Shared/_Pagination.cshtml", Model)
</div>
