﻿@using Vouzamo.Blog.Models.Domain
@model Vouzamo.Common.Interop.IManyResponse<Section>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        @foreach (var section in Model.Response.OrderBy(x => x.Order))
        {
            if (section is HeadingSection)
            {
                @Html.Partial("~/Views/Shared/Sections/_HeadingSection.cshtml", section as HeadingSection)
            }

            if (section is TextSection)
            {
                @Html.Partial("~/Views/Shared/Sections/_TextSection.cshtml", section as TextSection)
            }

            if (section is CodeSection)
            {
                @Html.Partial("~/Views/Shared/Sections/_CodeSection.cshtml", section as CodeSection)
            }

            if (section is QuoteSection)
            {
                @Html.Partial("~/Views/Shared/Sections/_QuoteSection.cshtml", section as QuoteSection)
            }
        }
    </div>
</div>
