﻿@model Vouzamo.Blog.Models.Domain.Witticism

<blockquote class="subheading">
    @Model.Text
    <a href="@Model.Url" class="text-primary" target="_blank"><i class="fa fa-external-link"></i></a>
</blockquote>