﻿@model Vouzamo.Common.Interop.IManyPagedResponse<Vouzamo.Blog.Models.Domain.Post>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Posts</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th style="width: 10px"></th>
                    <th>Title</th>
                    <th>Summary</th>
                    <th style="width: 40px">Action(s)</th>
                </tr>
                @foreach (var post in Model.Response)
                {
                    <tr>
                        <td></td>
                        <td>@post.Title</td>
                        <td>@post.Summary</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = post.Id })
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="4">
                        @Html.ActionLink("Create", "Create")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            @if (Model.HasPreviousPage)
            {
                <li><a href="@Url.Action("List", new {id = Model.PreviousPage})">«</a></li>
            }
            @*<li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>*@
            @if (Model.HasNextPage)
            {
                <li><a href="@Url.Action("List", new { id = Model.NextPage })">»</a></li>
            }
        </ul>
    </div>
</div>
<!-- /.box -->