﻿<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/Static/Images/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Vouzamo</h1>
                    <hr class="small">
                    @Html.Action("Witticism", "Component")
                </div>
            </div>
        </div>
    </div>
</header>