﻿@using Vouzamo.Common.Data

@model IPagination

<ul class="pager">
    @if (Model.HasPreviousPage)
    {
        <li class="previous">
            <a href="@Url.Action("Posts", "Home", new { id = (Model.Page - 1) })" class="btn btn-default">
                <i class="fa fa-caret-left fa-2x"></i>
            </a>
        </li>
    }

    @if (Model.HasNextPage)
    {
        <li class="next">
            <a href="@Url.Action("Posts", "Home", new { id = (Model.Page + 1) })" class="btn btn-default">
                <i class="fa fa-caret-right fa-2x"></i>
            </a>
        </li>
    }
</ul>
