﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Admin</title>
        @Styles.Render("~/resources/styles/admin")
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
        @Scripts.Render("~/resources/scripts/admin")
        <script type="text/javascript">
            $(function () {
                $('.rich-text').redactor();
            });
        </script>
    </body>
</html>
