﻿blockquote.subheading {
    color: #fff;
    border-left: none;
}

blockquote.subheading > p {
    margin: auto;
    padding: 0;
    font-size: 17.5px;
}

blockquote.subheading > footer {
    margin: auto;
    padding: 0;
    color: #fff;
}

.thumbnail > .caption {
    font-style: normal;
}

.thumbnail > .caption > .post-meta {
    font-style: italic;
}
