﻿@using Vouzamo.Blog.Models.Domain

@model Vouzamo.Common.Interop.IManyPagedResponse<Post>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    <header class="intro-header" style="background-image: url('/Static/Images/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Posts</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>
}

<div class="row">
    @Html.Partial("~/Views/Component/Posts.cshtml", Model)
</div>
