﻿@using Vouzamo.Blog.Models.Domain

@model Post

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    <header class="intro-header" style="background-image: url('@Html.Action("BackgroundImage", "Component", new { id = Model.ImageId }).ToString().Trim()')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>@Model.Title</h1>
                        @if (!string.IsNullOrWhiteSpace(Model.Summary))
                        {
                            <h2 class="subheading">@Model.Summary</h2>
                        }
                        <span class="meta">
                            by @Html.Action("Author", "Component", new { id = Model.AuthorId }) on @Model.PublishDate.ToLongDateString()
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
}

@Html.Action("Sections", "Component", new { id = Model.Id })